__pycache__/
*.py[cod]
*$py.class
*.so
pip-log.txt
*.log
app.log.*
venv/
build/
**/.cache/
.cache/
*results.xml
.coverage
coverage.xml
.idea/
logs/
airflow.cfg
unittests.cfg
tmp/
filtered_reqs.txt
dist/
zip_dag/
zip_contents/
.astro
airflow_settings.yaml
/.env