[default]
AIRFLOW__API__ENABLE_EXPERIMENTAL_API=True
AIRFLOW__API__AUTH_BACKEND=airflow.api.auth.backend.default
SECRET_KEY=vault:secret/teams/DEV_SHARED_SECRETS/snowflake/snowflake-cluster-manager#SECRET_KEY
SF_SECRET_KEY=vault:secret/teams/DEV_SHARED_SECRETS/snowflake/airflow-big-data-operators#SF_SECRET_KEY
DEV_AWS_ACCESS_KEY_ID=vault:secret/teams/DEV_SHARED_SECRETS/aws-lab/terraform-airflow-dev#AWS_ACCESS_KEY_ID
DEV_AWS_SECRET_ACCESS_KEY=vault:secret/teams/DEV_SHARED_SECRETS/aws-lab/terraform-airflow-dev#AWS_SECRET_ACCESS_KEY

# ADD HERE YOUR SECRETS AND PASSWORDS PATHS FROM VAULT
# AND THEN YOU CAN USE '<YOUR_SECRET>' ANNOTATION IN YOUR DEV CONF FILE TO GET THESE ENCRYPTED SECRETS
# INSTEAD OF ADDING THEM AS PLAIN TEXT